
@font-face {
    font-family: roboto-regular;
    src: url("fonts/Roboto-Regular.ttf");
}

@font-face {
    font-family: roboto-bold;
    src: url("fonts/Roboto-Bold.ttf");
}

@font-face {
    font-family: roboto-light;
    src: url("fonts/Roboto-Light.ttf");
}


* {box-sizing: border-box;}
ul {list-style-type: none;}
body {font-family: Verdana, sans-serif;
background-color: #f0f5f5;

}

.main{
  
    background-color: white;
    border-radius: 10%;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2%;
    padding-bottom: 2%;
}


.content {
  display: flex;
  height: 95vh;
  justify-content: center;
  align-items: center;
  background-color: #f0f5f5;
  
}

.container{
  
  max-width: 1200px;
  width: 100%;
  background-color: #ffffff;

  
  border-radius: 30px;

  box-shadow: 5px 0px 20px rgba(64, 64, 64, 0.1);

    
}

.main .title {
  font-size: 33px;
  color: #444444;
  font-family: roboto-regular;
  text-align: center;
  letter-spacing: 5px
}

.main .title2 {
  font-size: 26px;
  color: #706e6e;
  font-family: roboto-light;
  text-align: center;
  letter-spacing: 5px
}

.month {
  font-size: 30px;
  color: #444444;
  font-family: roboto-regular;
  text-align: center;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
  text-align: center;
  letter-spacing: 5px;
  font-weight: bold;
  display: inline-block;
}
.mesec{
  padding-top: 10px;
  align-items: center;
  text-align: center;
}

.month1 {
  font-size: 30px;
  color: #444444;
  font-family: roboto-regular;
  text-align: center;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
  text-align: center;
  
  font-weight: bold;
}

.calendar{
height: 540px;
}

.weekdays {
  margin: 0;
  padding: 0;
  padding-left: 9px;
  background-color:#67DBB8;
  border-radius: 10px;
  height: 8.5%;
  font-family: roboto-light;

}

.weekdays li {
  display: inline-block;
  width: 13.6%;
  height: 13%;
  color: white;
  text-align: center;
  font-size: 30px;
  border-radius: 10px;
  padding-bottom: 16%;
  
}


.days2 {
  padding: 10px 0;
  
  margin: 0;
  border-radius: 5px;
  height: 85%;
}

.days2 li {
  list-style-type: none;
  display: inline-block;
  width: 12.79%;
  height: 19%;
  text-align: left;
  padding-left: 10px;
  margin-left: 11px;
  margin-bottom: 11px;
  font-size:24px;
  color: #777;
  border-radius: 10px;
  border-color: rgb(202, 202, 202);
  border-style: solid;
  border-width: 1px;
  position: relative;
}

.prev-date,
.next-date {
  opacity: 0.5;
}

  .form-popup {
    display: none;
    position: fixed;
    bottom: 20%;
    right: 39.5%;
    border: 2px  rgb(189, 186, 186);
    z-index: 9;
    border-radius: 3px;
    border-style: solid;
  }
  
  
  .form-container {
    max-width: 400px;
    height: 650px;
    padding: 10px;
    background-color: white;
    font-family: roboto-light;
  }
  
  
  .form-container input[type=text], .form-container input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 2px 0 18px 0;
    border: none;
    background: #f1f1f1;
    font-family: roboto-light;
  }
  
  
  .form-container input[type=text]:focus, .form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  
  .form-container h1{
    font-size: 33px;
  color: #444444;
  font-family: roboto-bold;
  text-align: center;
  letter-spacing: 5px
  }
  #currDate{
    font-size: 20px;
  color: #444444;
  font-family: roboto-light;
  text-align: center;
  letter-spacing: 5px
  }
  .form-container .btn{

    font-size: 15px;
    color: #444444;
    font-family: roboto-light;
    text-align: center;
    letter-spacing: 5px;
    background-color: #67DBB8;
    color: white;
   
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom: 1%;

    
  }

  .form-container .addtask{
    background-color: #67DBB8;
    margin-top: 1%;
    

  }
  
  .form-container .cancel {
    background-color: #EE5253;
    
    margin-bottom: 0%;

  }
  
 
  .form-container .btn:hover, .open-button:hover {
    opacity: 1;
  }
  .form-container h1{
    text-align: center;
  }


li span{
  content: "";
  display:inline-block;
  background-color: white;
  border-radius: 20%;
  padding-left: 30%;
  padding-bottom: 30%;
  margin-left: 62%;
  
  
}
#currDate{
  text-align: center;
  font-weight: bold;
}


