.header {
    background-color: #FCFCFC;
    height: 70px;
    display: flex;
    align-items: center;
    box-shadow: -10px 0px 20px rgba(64, 64, 64, 0.1);
    position: relative;
}

.logo {
    margin-left: 40px;
    width: 165px;
    height: 25px;
}
.logoCenter{
    
    margin-left: 29%;
    width: 155px;
    height: 23px;
    
}