@font-face {
    font-family: roboto-regular;
    src: url("../fonts/Roboto-Regular.ttf");
}

@font-face {
    font-family: roboto-bold;
    src: url("../fonts/Roboto-Bold.ttf");
}

@font-face {
    font-family: roboto-light;
    src: url("../fonts/Roboto-Light.ttf");
}

@font-face {
    font-family: roboto-medium;
    src: url("../fonts/Roboto-Medium.ttf");
}

@font-face {
    font-family: roboto-regular-italic;
    src: url("../fonts/Roboto-Italic.ttf");
}

@font-face {
    font-family: roboto-light-italic;
    src: url("../fonts/Roboto-LightItalic.ttf");
}

.header {
    background-color: #FCFCFC;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: -10px 0px 20px rgba(64, 64, 64, 0.1);
    position: relative;
    z-index: 1;
}

.logo {
    margin-left: 40px;
    width: 165px;
    height: 25px;
    margin-right: 110px;
}

.header-info {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    position: relative;
    
    width: 19%;
}

.user {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    
    z-index: 2;
    margin-right: 125px;

    cursor: pointer;
}

.user img {
    width: 40px;
    height: auto;
}

.user .user-info {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 14px;
    color: #444444;
}

#header-name {
    font-family: roboto-regular;
}

#header-role {
    font-family: roboto-bold;
}

.notifications {
    margin-left: 50px;
    margin-right: 20px;

    z-index: 2;
}

.options {
    margin-right: 40px;

    z-index: 2;
}

.options img {
    width: 40px;
    height: auto;
    border-radius: 50px;
    border: 1px solid #F0F5F5;

    cursor: pointer;
    
    transition: all 0.4s ease;
}

.options img:hover {
    border: 1px solid #67DBB8;
}


.dropdown-options {
  
    visibility: hidden;
    opacity: 0;
    position: absolute;
    z-index: 1;

    width: 100%;
    
    
    right: 14px;
    top: -60px;
    
    
    background-color: #FCFCFC;
   
    height: 190px;

    padding-left: 20px;
    padding-right: 20px;
    padding-top: 100px;

    border-radius: 0 0 15px 15px;

    color: #9F9F9F;
    font-size: 16px;

    box-shadow: 0px 10px 20px rgba(64, 64, 64, 0.1);
    transition: all 0.4s ease;

}


.dropdown-options.active {
    top: -20px;
    visibility:visible;
    opacity: 1;
}

.dropdown-search hr {
    margin: 8px;
}

.option {
    margin-bottom: 20px;
    border-radius: 20px;

    cursor: pointer;
    transition: all 0.4s;
}

.option:hover{
    transition: all 0.4s;
    background-color: #f0f5f5;
}

#logout {
    font-family: roboto-medium;
}


.option img {
    width: 36px;
    height: fit-content;
}

.option span {
    
    margin-left: 10px;
    color: #444444;
    font-size: 14px;
}


.header-main {
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-main svg{
    width: 30px;
    height: auto;

    position: absolute;
    z-index: 1;

    left: 50%;
    transform: translateX(-50%);

    transition: all 0.4s ease;
    
    cursor: pointer;
}
.header-main .st0 {
    fill: #F0F5F5;
    transition: all 0.4s ease;
}
.header-main .st0:hover {
    fill: #67DBB8;
}