/*
    author Djordje Popara 2019/0460

    Moderator main page style
 */

html, body {
    height: 100%;
    width: 100%;
    overflow:hidden;

}

.main {
    height: inherit;

    position: relative;
    z-index: 0;

}

/*Left part*/

.left-part {
    background-color: #E6EDED;
    height: 100vh;

    z-index: 1;

    padding-top: 20px;
    
    padding-left: 40px;
    padding-right: 40px;

    background-image: linear-gradient(transparent, rgba(252, 252, 252, 0.15));
}

.left-part span,
.right-part span {
    color: #777777;
    font-size: 18px;

    font-family: roboto-regular;
}

.subjects {
    margin-top: 30px;
    color: #444444;
    
}

.subjects span {
    color: #444444;
    font-size: 16px;
}

.subjects ul {
    padding-left: 20px;
}

.subjects li {
    list-style: none;
    padding-top: 10px;
}

.course {
    overflow: hidden;
    font-size: 16px;
   
}

.course li {
    margin-top: 10px;
    margin-left: -10px;

    border-radius: 15px;
    padding-bottom: 10px;
    padding-left: 15px;

    background-color: transparent;

    color: #777777;
    font-size: 16px;
    transition: background-color 0.4s;
}
.course li:hover,
#course:hover {
    background-color: #dee6e69f;
    color: #444444;
}

#course {
    margin-top: 10px;
    cursor: pointer;
    color: #777777;
}

#course.clicked,
.semester-name.clicked,
.subject li.clicked {
    color: #444444;
}

.semester,
.subject {
    opacity: 0;
    display: none;

    top: -10px;
    
    cursor: pointer;

    transition: opacity 1s ease;
}

.semester.active,
.subject.active{
    display: block;
    overflow: visible;
    opacity: 1;

    top: 0px;

}

/* Central part */

.center-part {
    background-color: #F0F5F5;
    height: 100vh;

    background-image: linear-gradient(#f0f5f56b, transparent), url("../images/StudNet-Pattern-Light.png");
    background-repeat: repeat;
}

/* Central part - Search*/

.center-search {
    background-color: #FCFCFC;
    height: 70px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: -10px 0px 20px rgba(64, 64, 64, 0.1);
    position: relative;
    z-index: 0;

    padding-left: 40px;
    padding-right: 40px;

}

/* Central part - Messages*/

.center-chat {
    padding-right: 14px;
    padding-left: 30px;
    padding-top: 40px;
    padding-bottom: 40px;
    max-height: 75%;

}

.message-scroll {
    display: flex;
    flex-direction:column-reverse;
    overflow-y: scroll;
    max-height: 670px;

    height: 670px;
}

.message-scroll::-webkit-scrollbar,
.reports-scroll::-webkit-scrollbar {
    width: 6px;
}

.message-scroll::-webkit-scrollbar-track,
.reports-scroll::-webkit-scrollbar-track {
    border-radius: 25px;
    background: #E6E6E6;
}

.message-scroll::-webkit-scrollbar-thumb,
.reports-scroll::-webkit-scrollbar-thumb {
    border-radius: 25px;
    background: #bdbdbd7f;
    transition: 0.4s ease;
}

.message-scroll::-webkit-scrollbar-thumb:hover,
.reports-scroll::-webkit-scrollbar-thumb:hover {
    border-radius: 25px;
    background: #BDBDBD;
}

.message {
    margin-top: 20px;
    margin-bottom: 15px;
    display: flex;
    align-items: flex-start;
}

.message.left {
    justify-content: flex-start;
    color: #444444b2;
}

.message.right {
    justify-content: flex-end;
    color: #FCFCFC;

    margin-right: 6px;
}

.message img{
    width: 36px;
    border-radius: 100%;
}

.message.right img {
    order: 2;
}

.message-box {
    max-width: 400px;
    box-shadow: 2px 2px 15px rgba(64, 64, 64, 0.1);
    font-family: roboto-regular;
    font-size: 14px;

    display: block;
    word-wrap: break-word;
}



.message.left .message-box {
    background-color: #FCFCFC;
    border-radius: 7px 14px 14px 20px;
    padding: 5px 15px 15px 15px;
    margin-left: 14px;
}

.message.right .message-box {
    background-color: #67DBB8;
    border-radius: 14px 7px 20px 14px;
    padding: 5px 15px 15px 15px;
    margin-right: 14px;
}


/* Right part */

.right-part {
    background-color: #E6EDED;
    height: 100vh;

    padding-top: 20px;

    padding-left: 40px;
    padding-right: 40px;

    background-image: linear-gradient(transparent, rgba(252, 252, 252, 0.15));
}

.reports-list {
    margin-bottom: 40px;
}

.right-part .report img,
.center-part .report img {
    width: 36px;
    border-radius: 100%;
}

.right-part .report {
    margin-bottom: 12px;
    
    margin-right: 15px;
    padding: 5px;

    border-radius: 25px;
    background-color: transparent;

    transition: background-color 0.4s ease;

    cursor: pointer;
}

.right-part .report:hover {
    background-color: #dee6e69f;
}

.right-part .report span,
.center-part .report span {
    margin: 0 8px 0 8px;
    color: #444444;
    font-family: roboto-medium;
    font-size: 14px;
}

.reports-scroll {
    height: 698px;
    overflow-y: scroll;
}

hr {
    margin-top: 20px;
}

.report-chat {
    padding-left: 15px;
    width: 100%;
    

    display: none;

    transition: all 0.4s ease;
}

.report-chat.active {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.report-chat .report {
    cursor: pointer;
}

.chat-options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75px;


    margin-right: -14px;


}

.chat-options svg {
    cursor: pointer;
}

#call,
#close {
    border-radius: 200px;
    border: 1px solid transparent;

    width: 30px;

    transition: all 0.4s ease;
}

#call:hover,
#close:hover {
    border-radius: 200px;
    border: 1px solid #67DBB8;
}

svg .close:hover {
    fill: #444444;
}


#context-menu {
    position: fixed;
    z-index: 10;

    top: 50%;
    left: 50%;
    
    background-color: #FCFCFC;
    

    color: #c6c6c6;
    font-size: 12px;

    
    border-radius: 8px;

    box-shadow: -10px 0px 20px rgba(64, 64, 64, 0.1);

    transform: scale(0);
    transform-origin: top left;
}

#context-menu.active {
    transform: scale(1);
    transition: transform 0.3s ease-in-out;
}

#context-menu img {
    width: 12px;
}

#context-menu span {
    margin-left: 10px;
}

#penalty,
#delete {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 12px;

    transition: all 0.4s ease;

    cursor: pointer;
}

#penalty {
    border-radius: 8px 8px 0px 0px;
}

#delete {
    border-radius: 0px 0px 8px 8px;
}

#penalty:hover,
#delete:hover {
    background-color: hsla(0, 0%, 27%, 0.02);

    color: #b6b6b6;
}

/* Penalty popup */

.popup-background {
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #00000051;
    visibility: hidden;
    opacity: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: visibility 0s, opacity 0.4s;
}

.popup-active {
    visibility: visible;
    opacity: 1;
}

.popup-container {
    height: auto;
    
    background-color: #FCFCFC;

    box-shadow: 0px 0px 20px rgba(64, 64, 64, 0.1);

    border-radius: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    padding: 30px;
}

.buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    margin-top: 20px;
}

.popup-container input[type=text],
.popup-container input[type=number] {
    background-color: #F0F5F5;
    outline: none;

    border-radius: 8px;

    border: 1px solid #E6E6E6;

    margin-bottom: 20px;

    padding-left: 10px;

    font-size: 14px;

    height: 40px;
    width: 200px;
}

.popup-container input[type=button] {
    outline: none;

    border: 0px;

    border-radius: 8px;

    color: #FCFCFC;

    height: 40px;
    width: 47%;

    box-shadow: 0px 0px 10px rgba(64, 64, 64, 0.1);
}

#confirm {
    background-color: #67DBB8;
    transition: background-color 0.4s ease;
}

#confirm:hover {
    background-color: hsl(162, 62%, 68%);
}

#confirm:disabled {
    background-color: #d6d6d6;
    transition: background-color 0.4s ease;
}

#discard {
    background-color: #EE5253;
    transition: background-color 0.4s ease;
}

#discard:hover {
    background-color: hsl(360, 82%, 68%);
}